{% extends "base.html" %}
{% load bitems_tags %}

{% block main_content %}
    {% if bitem %}
        {% block bitem_content %}
            {% bitem bitem bitem_action %}
        {% endblock %}

        {% ifequal bitem_action "parents" %}
            {% bitems_middle bitem.parents.all "Обобщения" "parents" bitem skip bitem_action %}
        {% else %}
            {% bitems_short bitem.parents.all "Обобщения" "parents" bitem %}
        {% endifequal %}

        {% ifequal bitem_action "children" %}
            {% bitems_middle bitem.children.all "Уточнения" "children" bitem skip bitem_action %}
        {% else %}
            {% bitems_short bitem.children.all "Уточнения" "children" bitem %}
        {% endifequal %}
    {% endif %}
{% endblock %}
